/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* General  */
body {
    font-family: "Open Sans", sans-serif;
    color:#5D5D5D;
}

/* Header and sub-header */
header {
    width: 100%;
    height: 4em;
    background-color: #2CC0BE;
}

header div {
    display: inline-block;
    color: white;
}

.header-image {
    display: inline-block;
    height: 4em;
    width: 4em;
}

nav ul {
    position: relative;
    top: 1.5em;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em; 
    padding-bottom: 0.5em;
    font-size: 0.9em;
    border-bottom: 2px solid transparent;
}

nav ul li:hover {
    border-bottom-color: #FF6600;
}

nav ul li a {
    color: #5D5D5D;
    text-decoration: none;
}

#selected {
   border-bottom-color: #FF6600;
}

#sub-header {
    background-color: #F2F2F2;
}

#menu {
    float: right;
}

#label {
    margin: auto 3em;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
    padding: 0.3em;
    font-size: 0.8em;
}

#symbol {
    margin-top: 0.7em;
    margin-right: 1em;
    margin-left: 0.2em;
    font-size: 150%;
}

#logo-small {
    margin-left: 0;
}

#search {
    float: right;
    margin-right: 0;
}

/* Grid Content */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr;
    grid-template-rows: 8em 3fr 0.5fr 1fr 1fr;
  }

h1 {
    width: 50%;
    margin: auto;
    margin-left: 2em;
    font-size: 1.5em;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Tables */
table {
    margin: 0;
    width: 85%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

tr {
    height: 3em;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

td input, tr input {
  font-size: 0.9em;
  width: 3em;
  align-content: center;
}

th, td {
    height: 3em;
    min-width: 15em;
    padding: 1em;
    text-align: center;
}

td button {
  max-height: 2.5em;
  border-radius: 100px;
  color: white;
  font-size: 0.9em;
  padding: 0.5em 1em;
  margin: 0em;
  background-color: #FF6600;
}

.narrow {
    min-width: 3em;
    width: 3em;
}

/* Forms */
form {
  width: 50%;
  margin: 0 auto;
}

#form-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#form-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 4.5em;
    margin-left: 4em;
}

label {
  display: block;
  width: 40em;
  color: gray;
  margin: 2em 0;
}

label div {
  display: block;
  font-size: 0.8em;
}

label:hover div {
  color: #2CC0BE;
  display: block;
}

label:hover {
  color: gray;
}

input {
  width: 20em;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0.2em 0;
  border-bottom: 2px solid gray;
}

label:hover input {
  color:gray;
  border-bottom: 2px solid #2CC0BE;
}

.box {
  display: flex;
  flex: wrap;
  grid-column-start: 2;
  grid-column-end: 3;
}

.half-size {
  width: 9em;
  margin-right: 5em;
}

#add-more {
    margin: auto;
    margin-left: 0;
    max-height: 4.3em;
    width: 85%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0.5em 0.8em;
    border: 1px dashed darkgray;
    border-radius: 20px;
    vertical-align: middle;
}

.add-more-content {
    margin: auto;
    height: 2.5em;
    padding: 0.8em;
    text-align: left;
    display: inline-block;
}

button {
  max-height: 2.5em;
  border-radius: 100px;
  color: white;
  font-size: 1.1em;
  background-color: #FF6600;
}


/* Button sub-types */
.save {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  width: 40%;
  vertical-align: middle;
  margin: auto 0;
  padding: 0.5em 2em;
}

.status {
  vertical-align: middle;
  margin-right: 4em;
  font-size: 0.9em;
  padding: 0.1em 1em;
  width: 120px;
}

#completed {
  background-color: #18D33F;
}

#property-info {
  grid-row-start: 3;
  grid-row-end: 4;
}

#plus {
    width: 2.5em;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px dashed darkgray;
    border-radius: 25%;
    float: left;
}

#header {
    vertical-align: middle;
    padding: 0.5em 2em;
    margin-right: 2em;
    margin-top: 2.1em;
    float: right;
} 

.auto-margin {
  margin: auto;
}

/* home page layout */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3em;
    grid-column-gap: 2em;
    margin: 5em 8em 1em;
  }

.preview-box {
  width: 90%;
  height: 14em; 
  padding: 0.5em;
  background-color: #F2F2F2;
  align-content: center;
  display: inline-block;
  margin: auto;
}

#large-sub-header {
  background-color: #F2F2F2;
  height: 8em;
}

#index {
    height: 100%;
    padding: 2.1em 3.5em;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    color: #5D5D5D;
}

.preview-title {
  margin: 1em;
  font-weight: bold;
  font-size: 1.1em;
}

.preview-content {
  margin: 1.5em;
  font-size: 1em;
}

#price {
    font-size: 1.7em;
}
