/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 4em;
    background-color: #2CC0BE;
}

body {
    font-family: "Open Sans", sans-serif;
}

header div {
    display: inline-block;
    color: white;
}

#menu {
    float: right;
}

#label {
    margin: auto 3em;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: bold;
    padding: 0.3em;
    font-size: 0.8em;
}

#symbol {
    margin-top: 0.7em;
    margin-right: 1em;
    margin-left: 0.2em;
    font-size: 150%;
}

.header-image {
    display: inline-block;
    height: 4em;
    width: 4em;
}

#logo-small {
    margin-left: 0;
}

#search {
    float: right;
    margin-right: 0;
}

#sub-header {
    background-color: #F2F2F2;
}

nav ul {
    position: relative;
    top: 1.5em;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em; 
    padding-bottom: 0.5em;
    font-size: 0.9em;
}

nav ul li:hover {
    border-bottom: 2px solid #FF6600;
}

a {
    color: #5D5D5D;
    text-decoration: none;
}

button {
  display: block;
  margin: 4em auto 4em;
  border-radius: 100px;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 7em;
  background-color: #FF6600;

}